<div class="main-wrap p-24" id="requestDetailKeys">
  <h1 class="text-center m-t-0">DE Key Detail</h1>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Key Ring Id" [(ngModel)]="deKeyDetail.keyRingId">
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Key Id" [(ngModel)]="deKeyDetail.keyId">
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Version" [(ngModel)]="deKeyDetail.version">
    </mat-form-field>
  </div>
  <h1>
    Master Key Provider
  </h1>
  <div class="right-content">
    <section class="example-section">
      <mat-radio-group fxLayout="column" fxLayoutGap="20px" [(ngModel)]="labelPosition">

        <mat-radio-button class="example-margin" value="1">CipherWorks Local KMS</mat-radio-button>

        <mat-radio-button class="example-margin" value="2">PKCS11 Master Key Manager</mat-radio-button>

        <div *ngIf="labelPosition=='2'" class="fuse-card p-t-10 auto-width mb-32 mb-0 mr-32">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Config Path" [(ngModel)]="deKeyDetail.pkcs11ConfigPath">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="UserPin" [(ngModel)]="deKeyDetail.pkcs11UserPin">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Instance Label" [(ngModel)]="deKeyDetail.pkcs11InstanceLabel">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Crypt Vector" [(ngModel)]="deKeyDetail.pkcs11CryptVector">
            </mat-form-field>
          </div>
        </div>

        <mat-radio-button class="example-margin" value="3">AWS Key Manager</mat-radio-button>

        <div *ngIf="labelPosition=='3'" class="fuse-card p-t-10 auto-width mb-32 mb-0 mr-32">
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="AWS Key ARN" [(ngModel)]="deKeyDetail.awsKeyArn">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="AWS Access Key Id" [(ngModel)]="deKeyDetail.awsAccessKeyId">
            </mat-form-field>
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="AWS Secret  Access Key" [(ngModel)]="deKeyDetail.awsSecretAccessKey">
            </mat-form-field>
          </div>
        </div>

      </mat-radio-group>
    </section>

  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Status" [(ngModel)]="deKeyDetail.status">
        <mat-option *ngFor="let i of dataStatus" [value]="i.value">
          {{i.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="picker" placeholder="Expiration Date" [(ngModel)]="deKeyDetail.expirationTime">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" [(ngModel)]="deKeyDetail.description"></textarea>
    </mat-form-field>
  </div>

  <div class="button-row" fxLayout="row" fxLayoutAlign="space-around center">
    
    <button (click)="ClickSaveDeKeyDetail()" mat-raised-button color="accent">Save</button>
    <button (click)="ClickDelete()" mat-raised-button color="warn">Delete</button>
    <a (click)="clickCancel()" mat-raised-button>Cancel</a>
  </div>
</div>