<!-- <div *ngIf="deKeyDetail" class="main-wrap"> -->
<div *ngIf="deKeyDetail" class="main-wrap">
  <div>
    <input type="text" [(ngModel)]="deKeyDetail.keyRingId"> Key Ring Id <Br>
  
    <input type="text" [(ngModel)]="deKeyDetail.keyId"> Key Id <Br>
  
    <input type="text" [(ngModel)]="deKeyDetail.version"> Version <Br>
  
    <input type="text" [(ngModel)]="deKeyDetail.status"> Status <Br>
  
    <input type="text" [(ngModel)]="deKeyDetail.expirationTime"> Expiration Date <Br>
  
    <input type="text" [(ngModel)]="deKeyDetail.description"> Description <Br>
  </div>
</div>