<!-- <div class="page-layout blank p-24" fusePerfectScrollbar>

    <h2>{{'SAMPLE.HELLO' | translate}}</h2>

</div> -->


<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="center center">
            <h2 class="m-0 fs-30">Calculate your Data Breach Risk Score
            </h2>
            <h2 class="m-l-10 c-p" (click)="scrollTo('scrollBottom')">*</h2>
        </div>
        <!-- / CONTENT HEADER -->
        <div class="scroll-wrap-select content-card" style="margin-bottom: 20px;">
            <div class="risk-wrap">
                <div class="risk-wrap-inside">
                    <div class="lable-risk">
                        Your Data Breach Risk
                    </div>
                    <div class="value-risk" counto [step]="30" [countTo]="countTo" [countFrom]="countFrom" [duration]="2" (countoChange)="score = $event"
                        (countoEnd)="onCountoEnd()" style="margin-left: 20px">
                        {{score.toFixed(2)}}%
                    </div>
                    <img width="40px" style="margin-left: 20px" src="/assets/images/img/risk.jpg" alt="">
                </div>
            </div>
            <div class="coment">
                We do not save the information you enter or the Risk Score.
            </div>
        </div>

        <div class="content-card">

            <!-- CONTENT CARD -->
            <div class="content-card">

                <div fxLayout="row" fxLayoutAlign="start start">

                    <div class="scroll-wrap-select" fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">

                        <!-- CONTENT TOOLBAR -->
                        <div class="toolbar px-24 py-8 second-caption" fxLayout="row" fxLayoutAlign="start center">
                            <div class="img1-wrap">
                                <img src="/assets/images/img/12.jpg" alt="">
                            </div>
                            <span>1. Do you use the following data in Unencrypted / Unmasked form?</span>
                        </div>
                        <!-- / CONTENT TOOLBAR -->

                        <!-- CONTENT -->
                        <div class="content p-24 border-bottom">

                            <div class="df">

                                <div class="selects-container">

                                    <!-- <div class="df ai-c jc-fe" *ngFor="let item of data1">
                                    <div class="lable-select">
                                        {{item.name}}
                                    </div>

                                    <div class="select-wrap">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="obj1[item.key]" (ngModelChange)="calculateRisk($event)">
                                                <mat-option *ngFor="let i of choice" [value]="i.value">
                                                    {{i.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div> -->

                                    <div *ngFor="let item of data1" class="checkbox-wrap">
                                        <mat-checkbox [(ngModel)]="obj1[item.key]" (ngModelChange)="calculateRisk($event)">{{item.name}}</mat-checkbox>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- / CONTENT -->

                        <div class="df border-bottom">
                            <div class="border-right">
                                <!-- CONTENT TOOLBAR -->
                                <div class="toolbar px-24 py-8 second-caption">
                                    <span>2. QA / Development</span>
                                </div>
                                <!-- / CONTENT TOOLBAR -->

                                <!-- CONTENT -->
                                <div class="content p-24">

                                    <div class="df">
                                        <div class="img2-wrap">
                                            <img src="/assets/images/img/qa.png" alt="">
                                        </div>
                                        <div class="m-auto m-l-0">

                                            <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of data2" class="full-width">
                                                <mat-checkbox [(ngModel)]="obj2[item.key]" (ngModelChange)="calculateRisk($event)">{{item.name}}</mat-checkbox>
                                            </div>

                                            <!-- <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of data2">

                                    <div class="lable-select">
                                        {{item.name}}
                                    </div>

                                    <div class="select-wrap">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="obj2[item.key]" (ngModelChange)="calculateRisk($event)">
                                                <mat-option *ngFor="let i of choice" [value]="i.value">
                                                    {{i.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div> -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <!-- CONTENT TOOLBAR -->
                                <div class="toolbar px-24 py-8 second-caption">
                                    <span>3. Data Warehouse / Big Data / AI</span>
                                </div>
                                <!-- / CONTENT TOOLBAR -->

                                <!-- CONTENT -->
                                <div class="content p-24">

                                    <div class="df ai-c">
                                        <div>

                                        </div>
                                        <div class="full-width">

                                            <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of data3" class="full-width">
                                                <div style="min-width: 120px; margin-right: 20px; width: 120px">
                                                    <img width="100%" src="{{item.img}}" alt="">
                                                </div>
                                                <mat-checkbox [(ngModel)]="obj3[item.key]" (ngModelChange)="calculateRisk($event)">{{item.name}}</mat-checkbox>
                                            </div>

                                            <!-- <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of data3">
                                            <div style="min-width: 225px; margin-right: 56px;">
                                                <img width="100%" src="{{item.img}}" alt="">
                                            </div>
                                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100%">
                                                <div class="lable-select">
                                                    {{item.name}}
                                                </div>

                                                <div class="select-wrap">
                                                    <mat-form-field>
                                                        <mat-select [(ngModel)]="obj3[item.key]" (ngModelChange)="calculateRisk($event)">
                                                            <mat-option *ngFor="let i of choice" [value]="i.value">
                                                                {{i.viewValue}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                        </div> -->

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- / CONTENT -->


                        <!-- / CONTENT -->

                        <!-- CONTENT TOOLBAR -->
                        <div class="toolbar px-24 py-8 second-caption text-center">
                            <span>4. Vendor / Partner Workforce</span>
                        </div>
                        <!-- / CONTENT TOOLBAR -->

                        <!-- CONTENT -->
                        <div class="content p-24">

                            <div class="df">
                                <div class="img4-wrap">
                                    <img width="137px" style="margin-right: 20px" src="/assets/images/img/comunity.png" alt="">
                                </div>
                                <div class="selects-container">

                                    <div class="vendor-item" fxLayout="row" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of data4" style="margin-bottom: 20px;">
                                        <mat-checkbox [(ngModel)]="obj4[item.key]" (ngModelChange)="calculateRisk($event)">{{item.name}}</mat-checkbox>
                                    </div>

                                    <div class="scrollBottom"></div>

                                    <!-- <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of data4">

                                    <div class="lable-select">
                                        {{item.name}}
                                    </div>

                                    <div class="select-wrap">
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="obj4[item.key]" (ngModelChange)="calculateRisk($event)">
                                                <mat-option *ngFor="let i of choice" [value]="i.value">
                                                    {{i.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div> -->

                                </div>
                            </div>

                        </div>
                        <!-- / CONTENT -->

                    </div>

                </div>

                <!-- <button class="scroll-down" [ngClass]="{'active': isScrollDown === true}" (click)="scrollTo('coment')">
                    <i class="material-icons">
                        arrow_downward
                    </i>
                </button> -->
            </div>

            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

        <div class="m-b-20 p-l-20">
            <p>
                * Data Breach Risk Model:
            </p>
            <p>
                The computed risk score is a measure of the probability that your system will be breached in routine attacks by hackers on
                the internet.
            </p>
            <p>
                This model takes into account the fact that the perimeter security and access controls will have temporary gaps leading to
                data exposures.
            </p>
            <p>
                The computed risk score is a simplified measure of the qualitative data in-security in the enterprise systems.
            </p>
            <p>
                The higher the risk score, the higher the risk of data breach and sensitive data loss.
            </p>
            <p>
                Threshold for acceptable Risk Score needs to be determined by the data owners in organizations.
            </p>
            <p>
                Any Risk Score > 0 may introduce non-compliance with International, Federal or State Information Privacy Regulations.
            </p>
        </div>

        <div class="p-l-20">
            <p>
                NIST References :
            </p>
            <p>
                NISTIR 7564, Directions in Security Metrics Research,
            </p>
            <p>
                NIST Special Publication 800-55 Revision 1: Performance Measurement Guide for Information Security
            </p>
        </div>

    </div>

</div>