<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="line-horizontal"></div>
        <div class="title">Forgot Password?</div>
        <div class="line-horizontal"></div>
      </div>
      <form name="forgotPassForm" [formGroup]="forgotPassForm" novalidate>

        <div fxLayout="row" fxLayoutAlign="center start">
          <mat-form-field>
            <input [(ngModel)]="data.user" matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">
              Email is required
            </mat-error>
            <mat-error *ngIf="!forgotPassForm.get('email').hasError('required') &&
                                      forgotPassForm.get('email').hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <!-- [disabled]="forgotPassForm.invalid" -->
          <button [ngClass]="{'inactive-style': forgotPassForm.invalid}" (click)="chengePass()" mat-raised-button color="accent"
            class="submit-button m-l-20" aria-label="LOG IN">
            Reset Password
          </button>
        </div>

        <div *ngIf="errorMessege && forgotPassForm.invalid" class="message-box error fs-12 m-t-15 m-b-10">
          Password reset failed.
        </div>
        <div *ngIf="successMessege && forgotPassForm.valid" class="message-box success fs-12 m-t-15 m-b-10">
          Please check your email for temporary login password.
        </div>
      </form>

    </div>

  </div>

</div>