<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="center center">
      <h2 class="m-0 fs-30">
        DE Key Summary
      </h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card m-b-20 width-95 m-auto" id="deKeySummaryFilter">

      <div class="content p-24 fs-16">
        <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Key Ring Id" [(ngModel)]="dataRequestKeys.keyRingId" (ngModelChange)="modelChanged($event)">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Key Id" [(ngModel)]="dataRequestKeys.keyId" (ngModelChange)="modelChanged($event)">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Version" [(ngModel)]="dataRequestKeys.version" (ngModelChange)="modelChanged($event)">
          </mat-form-field>
          <mat-form-field style="width: 180px;">
            <mat-select placeholder="Status" [(ngModel)]="dataRequestKeys.status" (ngModelChange)="modelChanged($event)">
              <mat-option *ngFor="let i of dataStatusMass" [value]="i.value">
                {{i.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div>
            Create Date  Range:
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerCreateDateBegin" placeholder="From" [(ngModel)]="dataRequestKeys.createDateBegin" (keydown)="pressBackspace($event, 'createDateBegin')" (ngModelChange)="modelChangedDate($event, 'createDateBegin')">
                <mat-datepicker-toggle matSuffix [for]="pickerCreateDateBegin"></mat-datepicker-toggle>
                <mat-datepicker #pickerCreateDateBegin></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerCreateDateEnd" placeholder="To" [(ngModel)]="dataRequestKeys.createDateEnd" (keydown)="pressBackspace($event, 'createDateEnd')" (ngModelChange)="modelChangedDate($event, 'createDateEnd')">
                <mat-datepicker-toggle matSuffix [for]="pickerCreateDateEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerCreateDateEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div>
            Update Date Range:
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerLastUpdateBegin" placeholder="From" [(ngModel)]="dataRequestKeys.updateDateBegin" (keydown)="pressBackspace($event, 'updateDateBegin')" (ngModelChange)="modelChangedDate($event, 'updateDateBegin')">
                <mat-datepicker-toggle matSuffix [for]="pickerLastUpdateBegin"></mat-datepicker-toggle>
                <mat-datepicker #pickerLastUpdateBegin></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerLastUpdateEnd" placeholder="To" [(ngModel)]="dataRequestKeys.updateDateEnd" (keydown)="pressBackspace($event, 'updateDateEnd')" (ngModelChange)="modelChangedDate($event, 'updateDateEnd')">
                <mat-datepicker-toggle matSuffix [for]="pickerLastUpdateEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerLastUpdateEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
          <div>
            Expiry Date Range:
          </div>
          <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerEraseDateBegin" placeholder="From" [(ngModel)]="dataRequestKeys.expiryDateBegin" (keydown)="pressBackspace($event, 'expirationDateBegin')" (ngModelChange)="modelChangedDate($event, 'expiryDateBegin')">
                <mat-datepicker-toggle matSuffix [for]="pickerEraseDateBegin"></mat-datepicker-toggle>
                <mat-datepicker #pickerEraseDateBegin></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="pickerEraseDateEnd" placeholder="To" [(ngModel)]="dataRequestKeys.expiryDateEnd" (keydown)="pressBackspace($event, 'expirationDateEnd')" (ngModelChange)="modelChangedDate($event, 'expiryDateEnd')">
                <mat-datepicker-toggle matSuffix [for]="pickerEraseDateEnd"></mat-datepicker-toggle>
                <mat-datepicker #pickerEraseDateEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
    <!-- / CONTENT CARD -->

    <!-- CONTENT CARD -->
    <div class="content-card m-b-20">
      <div class="mat-elevation-z8">
        <table id="custome-table" class="custome-table" mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="keyRingId">
            <th mat-header-cell *matHeaderCellDef> Key Ring Id </th>
            <td mat-cell *matCellDef="let element"> {{element.keyRingId}} </td>
          </ng-container>

          <ng-container matColumnDef="keyId">
            <th mat-header-cell *matHeaderCellDef> Key Id </th>
            <td mat-cell *matCellDef="let element"> {{element.keyId}} </td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th mat-header-cell *matHeaderCellDef> Version </th>
            <td mat-cell *matCellDef="let element"> {{element.version}} </td>
          </ng-container>

          <ng-container matColumnDef="masterKeyProvider">
            <th mat-header-cell *matHeaderCellDef> Master Key Provider </th>
            <td mat-cell *matCellDef="let element"> {{element.masterKeyProvider}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{dataStatus[element.status]}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click) = "ClickRow(row)" 
          *matRowDef="let row; columns: displayedColumns;"
          [ngClass]="{'highlight': selectedRowIndex == row.id}"></tr>
        </table>

        <mat-paginator *ngIf="data" #paginator [pageSizeOptions]="[5, 10, 20]" [length]="data.length" [pageSize]="10" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
    <!-- / CONTENT CARD -->
    
    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="end center" class="m-t-20 m-b-20">
      <button (click)="ClickCreateDeKey()" mat-raised-button color="accent">Create New DE Key</button>
    </div>

    <!-- CONTENT CARD -->
    <div  *ngIf="deKeyDetail" class="content-card m-b-20">
      <app-dekey-details (cancelEvent)="requestDetailsCancel($event)" (saveEvent)="requestDetailsSave($event)" [deKeyDetail]="deKeyDetail"></app-dekey-details>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->

</div>