<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <!-- <div class="logo">
            <img src="assets/images/logos/fuse.svg">
          </div> -->

      <div class="title">Data Agent Registration</div>
      <!-- <div class="saccess-text">
          You have successfully registered. We have emailed your temporary password. Login to change password and get your Data Agent
          Id and API Key. You need the API Key for calling CW Services.
        </div> -->
      <form name="changePassForm" [formGroup]="changePassForm" novalidate>

        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="changePassForm.get('email').hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="!changePassForm.get('email').hasError('required') &&
                                    changePassForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Old Password" formControlName="oldPassword">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="New Password" formControlName="newPassword">
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
              <mat-checkbox class="remember-me" aria-label="Remember Me">
                Remember Me
              </mat-checkbox>
    
              <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                Forgot Password?
              </a>
            </div> -->
        <div *ngIf="errorMessege && (changePassForm.get('newPassword').hasError('pattern') || changePassForm.get('newPassword').hasError('required'))" class="message-box error fs-12 m-t-15 m-b-10">
            Password is not strong enough
        </div>
        <div *ngIf="errorMessege && changePassForm.invalid" class="message-box error fs-12 m-t-15 m-b-10">
            Password change failed, due to some backend issue.
          </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- [disabled]="changePassForm.invalid" -->
          <!-- [routerLink]="'/pages/auth/register'" -->
          <button [ngClass]="{'inactive-style': changePassForm.invalid}" (click)="errorControl()" mat-raised-button color="accent" class="submit-button">
            Register
          </button>
          <button (click)="clearFilds()" mat-raised-button color="accent" class="submit-button">
            Cancel
          </button>
        </div>

      </form>

    </div>

  </div>

</div>