.text{
    padding: 25px;
    font-size: 20px;
    color: #4CAF50;
}
.message-outer{
    background: rgba(0, 0, 0, 0.278);
    width: 100%;
    height: calc( 100% + 64px );
    min-height: 100vh;
    margin-top: -64px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 137;
    justify-content: center;
    .message-inside{
        max-width: 775px;
        background: white;
        margin-left: -20%;
        margin-top: -10%;
    }
}
.icon-success{
    font-size: 41px;
    width: unset;
    height: unset;
    margin-top: -10px;
    margin-left: 10px;
}
.message-box{
    align-items: center;
    display: flex;
}