// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.df{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-fe{
    justify-content: flex-end;
}
.fs-30{
    font-size: 30px;
}
.fs-12{
    font-size: 12px;
}
.full-width{
    width: 100%;
}
.m-auto{
    margin: auto;
} 
.m-l-0{
    margin-left: 0 !important;
}
.m-l-20{
    margin-left: 20px !important;
}
.m-t-0{
    margin-top: 0 !important;
}
.m-t-15{
    margin-top: 15px;
}
.m-b-10{
    margin-bottom: 10px;
}
.m-r-20{
    margin-right: 20px !important;
}
.fs-16{
    font-size: 16px;
}