// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
@import "/assets/scss/style.scss";

.df{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-fe{
    justify-content: flex-end;
}

.full-width{
    width: 100%;
}
.width-50{
    width: 50%;
}
.width-95{
    width: 95%;
}
