.bot-wrap{
    max-width: 537px;
    margin: auto;
}
.hide{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all .3s;
    position: relative;
    z-index: 10000;
}
.show{
    visibility: unset;
    pointer-events: unset;
    opacity: 1;
    transition: all .3s;
}